include ../mixins/nav-menu.pug


block NavBar
  - 
    var sideNavBtnProperties = {
      showCondition: "globals.hasSideNav === true"
    }
  +navBar(sideNavBtnProperties)('[navbarClass]'='globals.navBarColor')
    block NavBarItems

block SideNav
  +sideNav()(
    '*ngIf'="globals.hasSideNav === true" '[fixed]'="globals.isSideNavFixed"
  )
    block SideNavItems

block Body
  div(
    '[ngClass]'='{ "container": globals.isContentCentered, "with-sidenav": globals.makeSpaceForSideNav }'
  )
    ui-view('[hidden]'='globals.isSpinnerVisible')
    div.centered('[hidden]'='!globals.isSpinnerVisible'): img.spinner(
      src='assets/images/koi-spinner.png' width='100' height='100'
    )