include ../mixins/nav-menu.pug

- 
  var sideNavBtnProperties = {
    showCondition: "globals.isSideNavVisible === true"
  }
+navBar(sideNavBtnProperties)('[navbarClass]'='globals.navBarColor')
  block NavBarItems

+sideNav()('*ngIf'="globals.isSideNavVisible === true")
  block SideNavItems

div.container()
  ui-view('[hidden]'='globals.isSpinnerVisible')
  div.row('[hidden]'='!globals.isSpinnerVisible')
    div.col.s12.m12.center-align
      mz-spinner('[size]'="'big'")