include ../mixins/general.pug

block AddButton
  div.row: div.col.s6.m4
    +button('button', '{{ "add" | translate:lang }}', "'plus'")(
      '(click)'='onAddButtonClicked()'
    )

block RequiredInfo

block ItemsListing
  ng-container('*ngIf'='list.length > 0')
    div.row('*ngFor'='let element of list; let i = index'): div.col.s12 
      mz-card('[hoverable]'="'true'")
        mz-card-title: div.row
          div.col.s10.ellipsis-overflow
            block ElementTitle
          div.col.s1
            +button('button', '', "'delete'")(
              class='red white-text center-align'
              '[flat]'="'true'"
              '[float]'="'true'"
              '(click)'='onDeleteButtonClicked(i, element)'
            )
          div.col.s1
            +button('button', '', "'pencil'")(
              class='blue white-text center-align'
              '[flat]'="'true'"
              '[float]'="'true'"
              '(click)'='onEditButtonClicked(i, element)'
            )
        mz-card-content
          block ElementBody

ng-container('*ngIf'='list.length == 0')
  div.row: div.col.s12
    h5.center-align
      i.yellow-text(mz-icon-mdi '[icon]'="'alert'")
      ='{{ emptyListMessage | translate:lang }}'