include ../mixins/general.pug

mz-modal
  mz-modal-header
    i.yellow-text(mz-icon-mdi '[icon]'="'alert'" '[size]'="'large'")
    ='{{ title | translate:lang }}'
  mz-modal-content('[innerHTML]'='message | translate:lang')
  mz-modal-footer
    +button('button', '{{ "continue" | translate:lang }}', '"check"')(
      mz-modal-close
      class='red-text colorless-on-hover'
      style='background-color: transparent !important'
      '[flat]'='true'
      '(click)'='onActionConfirmed()'
    )
    span=' '
    +button('button', '{{ "cancel" | translate:lang }}', "'close'")(
      mz-modal-close
      class='blue'
    )