include ../mixins/general.pug

mz-modal(
  '[options]'='properties'
)
  mz-modal-header
    i.yellow-text(mz-icon-mdi '[icon]'='alert')
    ='{{ title }}'
  mz-modal-content
    ='{{ message }}'
  mz-modal-footer
    +button('button', '{{ "accept" | translate:lang }}', 'check')(
      mz-modal-close
      'class'='red-text'
      '[flat]'='true'
      '(click)'='onActionConfirmed()'
    )
    +button('button', '{{ "cancel" | translate:lang }}', 'close')(
      '[flat]'='true'
      mz-modal-close
    )