mz-modal('[options]'='options')
  mz-modal-header
    h5='{{ "please wait" | translate:lang }}'
  mz-modal-content
    div.center-align
      img.spinner(src="assets/images/koi-spinner.png" width="240", height="240")