mz-modal('[options]'='options')
  mz-modal-header
    ='{{ "please wait" | translate:lang }}'
  mz-modal-content
    div.center-align
      img.spinner(src="assets/images/koi_spinner.png" width="240", height="240")