doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Koi Software')
    meta(name='author-webpage' content='https://www.facebook.com/KoiSoftware')

    link(
      rel='icon'
      type='image/x-icon'
      href='../assets/favicon.ico'
    )

    block StylesheetImports

    base(href='./')

    title
      block ProjectTitle

  body
    app-root

    block ScriptImports